.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.custom-link:hover {
  color: blue; 
  text-decoration: underline; 
}




@keyframes rotate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}



/* .slider span {
 
  position: absolute;
  width: 30%;
  height: 30%;
  top: 0;
  left: 0;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i)*45deg)) translateZ(400px);
}

.slider span img {
  position: absolute;
  width: 30%;
  height: auto; ;
  top: 0;
  left: 0;
  border-radius: 10px;
  object-fit: cover;
  transition: 2s;
} */

.table-container {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 18px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  margin: 0;
}

.table input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  border: none;
  margin-top: 5px;
}
.bodyy {
 
  background: linear-gradient(to right, #83c3de, #0088ce);
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slider {
  display: flex; /* Utiliser un conteneur de type flex */
  gap: 10px; /* Ajouter un espace de 60 pixels entre les images */
  width: 100%; /* Ajuster la largeur du slider en fonction du nombre d'images */

  overflow: hidden;
  margin-left: 1%;
  margin-right: 1%;
}

.slider span {
  flex: 0 0 25%; /* Augmenter la largeur de chaque image */
}

.slider img {
  width: 90%; /* Utiliser la largeur maximale pour chaque image */
  height: auto; /* Ajuster la hauteur de l'image de manière proportionnelle */
  transition: transform 0.3s ease; /* Ajouter une transition fluide pour l'effet de zoom */
}

.slider span:hover img {
  transform: scale(1.2); /* Agrandir l'image lors du survol */
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
